.sidebar{
    width: 25vw;
    height: 100vh;
    overflow-y: scroll;
    /* background-color: wheat; */
    position: fixed;
}
.sidebar_wrapper{
    width: 90%;
    height: 100%;
    margin: auto;
}
.list_item{
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 15px 0px;
    font-weight: 500;
    list-style-type:none;
    cursor: pointer;
   
    
}
.line{
    color: white;
    border-width: 0px;  
    /* width: 150%; */
    display: block;
    background-color: black;
    height: 1px;

}
.heading{
    width: 150px;
    color: black;
    margin-left: 70px;
    padding: 10px;
    background-color: white;
    border-radius: 20px 20px;
    border: 2px solid black;
}